.profile {
  padding: 2vw;
  max-width: calc(700px + 8vw);
}
.profile .login__btn:hover {
  background-color: rgb(223, 223, 223);
}
.profile .login__form-signin .form-item:focus-within {
  z-index: 2;
}
.profile .login__form-signin .form-item input[type=email] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.profile .login__form-signin .form-item input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.profile input:focus {
  outline: 0;
  box-shadow: 0px 0px 4px rgba(0, 191, 255, 0.364), 0px 0px 4px rgba(0, 191, 255, 0.364), 0px 0px 4px rgba(0, 191, 255, 0.364), 0px 0px 4px rgba(0, 191, 255, 0.364);
  background-color: rgba(243, 255, 242, 0.4);
}
.profile .register__form-signin .form-item:focus-within {
  z-index: 2;
}
.profile .register__form-signin .form-item input[type=text] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.profile .register__form-signin .form-item input[type=email],
.profile .register__form-signin .form-item input[type=password]:not(.password-2) {
  margin-bottom: -1px;
  border-radius: 0;
}
.profile .register__form-signin .form-item .password-2 {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.profile .rowProfile {
  display: grid;
  grid-template-columns: 30% auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}
.profile .rowProfile img {
  width: 100%;
}
.profile .rowProfile div {
  display: block;
}
.profile .space {
  white-space: nowrap;
}
