{% extends 'inc/base.html' %} 
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="profile border my-4 mx-auto shadow rounded text-center">
    <form method="post" class="px-4 register__form-signin needs-validation">
      <p class="h3 text-green mb-1">Please, register</p>
      <img class="my-3 form-img" src="{% static "img/log.png" %}" alt="" />

      {% csrf_token %}
      {% bootstrap_form_errors form %}
      <div class="form-group mb-3">
        {% for field in form %}
            {% bootstrap_field field wrapper_class='form-item my-3' field_class="form-control" show_label=False %}
        {% endfor %}
      </div>

      <button type="submit" class="btn login__btn mb-2 bg-gray-400 border border-4 w-100"><span class="">Register</span></button>
      <a href="{%url 'login' %}" class="btn login__btn bg-gray-400 border border-4 w-100">Login</a>
      <p class="mt-2 mb-3">&copy; 2023</p>
    </form>
  </div>
{% endblock %}
